p{
    color:blue;
}

body{
    text-align: align;
    font-size: 20px;
    background-color: #451952;
}

.cabecalho{
    padding: 20px;
    background-color: #451952;
    border-bottom: 5px solid white;
    font-size: 24px;
    color: white;
    display: flex;
    justify-content: start;
    align-items: center;
}

.cabecalho-logo{
    width: 32px;
    height: 32px;
}



#titulo{
    font-size: 32px;
    text-align: center;
}
.texto{
    text-align: justify;
    color: gray;
    font-size: 20px;
}
#banner{
    width: 80%;
    margin: 24px;
    padding: 16px;
}

.título-principal{
    background-image: linear-gradient(#ff1b6b, #ff5858);
    color: black;
}